body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2a7dad;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

footer {
    background-color: #8B4513; /* Café */
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="submit"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #1a66d8; /* Café */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #165ad8; /* Café oscuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #e8e6eee8; /* Verde agua */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    background-color: #dfe0e9; /* Verde agua */
}

th {
    background-color: #156aca; /* Café */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #e0f7fa; /* Color claro alternativo para las filas pares */
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
